{% extends 'pages/base.html' %}
{%block title%} docs page {%endblock%}
{%block content%}

{%include '../layout/top_and_side_nav.html'%}

<div class="app-wrapper">
    
    <div class="app-content pt-3 p-md-3 p-lg-4">
        
        <div class="container-xl">
            
<div class="container mt-5">
    <h1 class="app-page-title mb-0">My Docs</h1>
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    
                </div>
                <div class="col-auto">
                     <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <div class="col-auto">
                                <!-- <form class="docs-search-form row gx-1 align-items-center">
                                    <div class="col-auto">
                                        <input type="text" id="search-docs" name="searchdocs" class="form-control search-docs" placeholder="Search">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn app-btn-secondary">Search</button>
                                    </div>
                                </form> -->
                                
                          

                        </div><!--//row-->
                    </div><!--//table-utilities-->
                </div><!--//col-auto-->
            </div>


            <!-- card starts here -->
           
            <div class="row g-4">
                {% for item in property_list %}
                <div class="col-md-4 mb-3 col-xl-4 col-6 ">
                <!-- <div class="col-6 col-md-4 col-xl-3 col-xxl-2"> -->
                    <div class="app-card app-card-doc shadow-sm  h-100">
                        <div class="app-card-thumb-holder p-3">
                            <div class="app-card-thumb">
                                {% if item.image %}
                                <img class="thumb-image" src="{{ item.image.url }}" alt="">
                                {% else %}
                                <p class="text-white">No Image</p>
                                {% endif %}
                            </div>
                             <a class="app-card-link-mask" href="#file-link"></a>
                        </div>
                        
                        <div class="app-card-body p-3 has-card-actions">
                            
                            <h4 class="app-doc-title truncate mb-0">{{item.details}}</h4>
                            <div class="app-doc-meta">
                                <ul class="list-unstyled mb-0">
                                    <li><span class="text-muted">Type:</span>{{item.property_type}} </li>
                                    <li><span class="text-muted">Price:</span>{{item.price_range}}</li>
                                    <li><span class="text-muted">Location:</span>{{item.location}}</li>
                                </ul>
                            </div><!--//app-doc-meta-->
                            
                            <form method="post" action="{%url 'mark_property_as_sold'   item.id%} " >
                                {%csrf_token%}
                            <button type="submit" class="btn btn-danger">Sold</button>
                        </form>
                         </div><!--//app-card-actions-->
                                
                        </div><!--//app-card-body-->
                    
                    </div><!--//app-card-->
                <!-- </div> -->
                   
                {% endfor%}
                </div>
            </div>
           
           

            </div>
            </div>
            </div>
            {%endblock%}
            