{% extends 'pages/base.html' %} {%block title%} {%endblock%} {%block content%}
{%include '../layout/top_and_side_nav.html'%}

<div class="app-wrapper">
	<br /><br />
	<div class="app-content pt-3 p-md-3 p-lg-4">
		<div class="container-xl">
			<h1 class="app-page-title">Update Property</h1>
			<div class="container mt-5">
				<form method="POST" action="{%url 'update_property_db' id=updateable_property.id %}"  enctype="multipart/form-data">
				   {%csrf_token%}
                   
					<div class="mb-3">
						<label for="propertyType" class="form-label">Property Type</label>
						<select
							class="form-select"
							id="propertyType"
							name="propertyType"
							required>
                          
							{% for property_type in property_types %}
							<option value="{{ property_type }}">{{ property_type }}</option>
						{% endfor %}
                      
						</select>
					</div>
                    

					<!-- Property Location -->
					<div class="mb-3">
					
                        <label for="propertyLocation" class="form-label">Location</label>
                     
						<input
                      
							type="text"
							class="form-control"
							id="propertyLocation"
							name="propertyLocation"
                            value="{{updateable_property.location}}"
							required />
                   
                    
					</div>
                  

					<!-- Price Range -->
					<div class="mb-3">
						<label for="priceRange" class="form-label">Price Range</label>
						<input
							type="text"
							class="form-control"
							id="priceRange"
							name="priceRange"
							value="{{updateable_property.price_range}}"
							required />
                           
					</div>
					<!-- <div class="mb-3">
						<label for="propertyImage" class="form-label">Existing Property Image</label>
						<img src="{{ updateable_property.image.url }}" alt="{{ updateable_property.propertyImage.name }}" width="200" />
					</div> -->

					<!-- Property Image -->
					<div class="mb-3">
						<label for="propertyImage" class="form-label">Property Image</label>
						<input
							type="file"
							class="form-control"
							id="propertyImage"
							name="propertyImage"
							accept="image/*"
							required />
                            
					</div>

					<!-- Property Details -->
					<div class="mb-3">
						<label for="propertyDetails" class="form-label"
							>Property Details</label
						>
						<textarea
							class="form-control"
							id="propertyDetails"
							name="propertyDetails"
							rows="4"
							
							required>{{updateable_property.details}}</textarea>
                          
					</div>

					<!-- Submit Button -->
					<button type="submit" class="btn btn-primary">update</button>
                    
				</form>
			</div>
		</div>
	</div>
</div>

{%endblock%}
<!-- Include Bootstrap JS and Popper.js (for Bootstrap's JavaScript plugins) -->
