{% extends 'pages/base.html' %}
{%block title%} {%endblock%}
{%block content%}

{%include '../layout/top_and_side_nav.html'%}

<div class="app-wrapper">
    <br/><br/> 
    <div class="app-content pt-3 p-md-3 p-lg-4">
        
        <div class="container-xl">
            
            <h1 class="app-page-title">Property List</h1>
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Sn</th>
                        <th>Type</th>
                        <th>Location</th>
                        <th>Price Range</th>
                        
                        <th>Details</th>
                        <th> Image</th>
                        <th>Action</th>
                       
                    </tr>
                </thead>
                
                <tbody>
                    {% for item in property_list%}
                   
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.property_type}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.price_range}}</td>
                        
                        <td>{{item.details}}</td>
                        {%if item.image %}
                        <td><img src="{{ item.image.url }}"  width="50" height="50"></td> 
                        {%else%}
                        <td class="text-black">No Image</td>
                        {%endif%}

                        <td><div class="btn-group" role="group">
                            <a class="btn btn-primary" href="{%url 'update_property_page' item.id%}">
                                Update
                            </a>
                            <a class="btn btn-danger" href="{%url 'delete_property' item.id %}">
                                Delete
                            </a>
                        </div></td>
                        
                    </tr>
                {% endfor %}
                </tbody>
                
            </table>


            </div>
            </div>
            </div>
{% endblock %}