{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {%endblock%}</title>
     <!-- FontAwesome JS-->
     <script defer src="{% static 'assets/plugins/fontawesome/js/all.min.js' %}"></script>
    
     <!-- App CSS -->  
     <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/portal.css' %}">
       <!-- Javascript -->          
    <script src="{% static 'assets/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>  

    <!-- Charts JS -->
    <script src="{% static 'assets/plugins/chart.js/chart.min.js'%}"></script> 
    <script src="{% static 'assets/js/index-charts.js' %}"></script> 
    
  
     
    <link rel="stylesheet" href="{%static 'assets/bootstrap-5/css/bootstrap.min.css'%}">
    <script src="{%static 'assets/bootstrap-5/js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/data_table.css'%}">
    <script src="{% static 'assets/js/jquery.js'%}"></script>
    <script src="{% static 'assets/js/jquery_data_table.js'%}"></script>
    <script src="{% static 'assets/js/jq_data_table_bs5.js'%}"></script>
    <script src="{%static 'assets/bootstrap-5/js/bootstrap.bundle.min.js'%}"></script>
    
   


</head>
<body>
    {% block content %}
    {%endblock%}
    <script>
        new DataTable('#example');
    </script> 
      <!-- Page Specific JS -->
      <script src="{% static 'assets/js/app.js' %}"></script>  
      
      
</body>
</html>